.div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 183, 255);  
    color: white;            
}

.div-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 81, 255);  
    color: white;            
}